.abutton{
    display: inline-block;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    background: #e5e5e5;
    font-size: 40px;
    text-align: center;
    color: white;
}